{% extends 'base.html' %}
{% load static %}
{% load custom_filter_tag %}
{% block content %}
    <section class="container mt-2 col-8">
        {% include 'partials/_menu.html' %}
        <lu class="list-group">
            <li class="list-group-item list-group-item-action list-group-item bg-danger flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ curso.titulo }} | Carga horária: {{ curso.carga_horaria }}h</h5>
                </div>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Área temática</h5>
                </div>
                <p class="mb-1">{{ curso.area_tematica }}</p>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Ementa</h5>
                </div>
                <p class="mb-1">{{ curso.ementa }}</p>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Objetivo geral</h5>
                </div>
                <p class="mb-1">{{ curso.obj_geral }}</p>
            </li>
            <li class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Professor responsável</h5>
                </div>
                <p class="mb-1">{{ curso.professor_responsavel }}</p>
            </li>
        </lu>
        <div class="mt-2">
            {% if curso.status == 'APROVADO' and quantidade_topicos < 5 %}
                <a class="btn btn-outline-secondary" href="{% url 'cadastrar_topico' curso.id %}" role="button">Cadastrar Tópico de Aula</a>
            {% elif curso.status == 'APROVADO' and quantidade_topicos >= 5 %}
                <button class="btn btn-outline-danger" disabled>Cadastrar Tópico de Aula</button>
                <p class="text-danger">(Número máximo de tópicos atingido)</p>
            {% endif %}
        </div>
    </section>
<!-- Informações dos tópicos de aula -->
<section class="container mt-2 col-8">
    <div class="my-2"><h2>Tópicos de aula</h2></div>
    <div class="">
        {% if topicos %}
        {% for topico in topicos %}
        <div class="card border-danger mb-3" >
            <div class="card-header bg-danger bg-gradient text-white">
                <h5 class="card-title">{{ topico.titulo }}</h5>
            </div>
            <div class="card-body text-dark">
                <p class="card-text">{{ topico.descricao|converte_markdown|safe }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
    </div>
    <div class="d-flex justify-content-center">
        <div class="card border-danger mb-3" style="max-width: 24rem;">
            <div class="card-body text-danger text-center">
                <p class="card-text">Sem tópicos cadastrados</p>
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}