{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mt-2 col-8">
    {% include 'partials/_menu.html' %}
        <div class="my-3">
            <h2>Validar certificado</h2>
        </div>
    {% include 'partials/_alertas.html' %}
    <div class="row col-12">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row col-12">
                    <div class="col-8">
                        <label for="token"><b>Token de validação</b></label>
                        <input type="text" class="form-control" name="token" required>
                    </div>
                    <div class="col-2">
                        <label for="recaptcha"><b>reCAPTCHA</b></label>
                        <div class="required field">
                            <div class="g-recaptcha" data-sitekey="6LfHUjghAAAAAHQawL1T69qMe0SnbuIG0pDujnc7"></div>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-4">
                        <button class="btn btn-danger" type="submit">Validar</button>
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock %}