{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Infiormações de usuário -->
    <section class="container text-center mt-2 col-8">
        {% include 'partials/_menu.html' %}
        <div class="my-5"><h1>Bem vindo ao AVASUS</h1></div>
        {% if user.is_authenticated %}
            <div class="card text-white bg-danger mb-3" style="max-width: 72rem;">
                <div class="card-body">
                    <h5 class="card-title">Informações de Usuário</h5>
                    <table class="table table-sm text-white">
                        <tbody>
                        <tr>
                            <th scope="row">Nome Completo</th>
                            <td>{{ user.nome_completo }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Data de Nascimento</th>
                            <td>
                                {{ user.data_nascimento }}
                                &ensp;( {{ user.get_idade }} anos )
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">CPF</th>
                            <td>
                                {{ user.cpf }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            </section>
            <!-- Informações dos cursos -->
            <section class="container text-center mt-2 col-8">
                <div class="my-2"><h2>Cursos misistrados</h2></div>
                <div class="my-3">
                <a class="btn btn-outline-secondary" href="{% url 'plano_de_curso' %}" role="button">Submeter Novo Plano</a>
                </div>
                <div class="card-group d-flex justify-content-center">
                {% if planos %}
                {% for plano in planos %}
                    <div class="card border-danger mb-3" style="max-width: 24rem;">
                        <div class="card-body text-danger">
                            <h5 class="card-title">{{ plano.titulo }}</h5>
                            <p class="card-text">{{ plano.obj_geral }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-danger text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-danger" href="{% url 'info_curso' plano.id %}" role="button" type="button">Ver mais</a>
                                {% if plano.status == 'APROVADO' %}
                                    <button class="btn btn-outline-success" disabled>Aprovado</button>
                                {% elif plano.status == 'REPROVADO' %}
                                    <button class="btn btn-outline-danger" disabled>Recusado</button>
                                {% else %}
                                    <button class="btn btn-outline-secondary" disabled>Pendente de Aprovação</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card border-danger mb-3" style="max-width: 24rem;">
                        <div class="card-body text-danger text-center">
                            <p class="card-text">Sem cursos ministrados no momento</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
        {% endif %}
{% endblock %}